@model IEnumerable<ESports.Models.TournamentDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.TrDetails)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrDetails)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TrId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TrId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TrId })
        </td>
    </tr>
}

</table>
